<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	
	<!-- 只要标注了@Controller,@Service,@Repository,@Component都会被自动扫描 -->
	<!-- <context:component-scan base-package="com.whoiszxl"></context:component-scan> -->

<!-- 	<bean id="person1" class="com.whoiszxl.bean.Person">
		<property name="name" value="zhangsan"></property>
		<property name="age" value="20"></property>
	</bean> -->

</beans>
